# Dollars and Change

In this activity, you'll prepare and clean data by removing symbols in the dataset, converting data types, filling in missing values, and dropping any duplicate data.

Instructions:

1. Import the Pandas and `pathlib` libraries.

2. Use `Path` with the `read_csv` function to read the CSV file into the DataFrame. Use the `index_col`, `parse_dates`, and `infer_datetime_format` parameters to set the Date column as the index.

3. Confirm the import by using the `head` function to review the first five rows of the DataFrame .

4. Use the `dtypes` function to check the data types of the DataFrame, and identify the ones that are strings.

5. Use the `str.replace` function to replace all the dollar signs in the Total Payments column. Then review the first five rows of the DataFrame to confirm the update.

6. Use the `astype` function to change the data type of the Total Payments column from `object (string)` to `float`. Then call the `dtypes` function on the DataFrame to confirm the update.

7. For the Profit Margin column, remove all the percent signs and convert the data types to `float` by repeating the preceding steps. Call the `dtypes` function on the DataFrame to confirm the update.

8. Use the `isnull` function along with the `sum` function to determine the number of missing values in the DataFrame.

9. Use the `fillna` function to fill any missing values in just the Profit Margin column with the value of 0. Then rerun the `isnull().sum()` function to confirm that you handled missing values.

10. Use the Pandas `duplicated` function along with the `sum` function to determine the number of duplicated entries in the DataFrame.

11. Use the Pandas `drop_duplicates` function to remove all duplicated entries. Review the first 10 rows of the DataFrame to confirm the update.


References:

[Pandas read_csv function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

[Pandas dtypes function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html)

[Pandas str.replace function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.replace.html)

[Pandas astype funtion](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html)

[Pandas isnull function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.isnull.html)

[Pandas duplicated function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.duplicated.html)

## Step 1: Import the Pandas and `pathlib` libraries.

In [1]:
# Import the Pandas library
# YOUR CODE HERE


# Import the Path module from the pathlib library
# YOUR CODE HERE

## Step 2: Use `Path` with the `read_csv` function to read the CSV file into the DataFrame. Use the `index_col`, `parse_dates`, and `infer_datetime_format` parameters to set the Date column as the index.

In [2]:
# Read in the CSV file called "big_time_money_flows.csv" using the Path module 
# The CSV file is located in the Resources folder
# Set the index to the column "Date"
# Set the parse_dates and infer_datetime_format parameters
money_flows_df = # YOUR CODE HERE

## Step 3: Confirm the import by using the `head` function to review the first five rows of the DataFrame .

In [3]:
# Call the head function to review the first 5 rows of the DataFrame
# YOUR CODE HERE

           Total Payments Profit Margin
Date
2021-01-01     $100008.16           NaN
2021-01-02     $100017.49          4.8%
2021-01-03     $100018.77         10.2%
2021-01-05     $100035.19          9.9%
2021-01-05     $100035.19          9.9%

## Step 4: Use the `dtypes` function to check the data types of the DataFrame, and identify the ones that are strings.

In [4]:
# Use the dtypes function to check the data type of each column in the DataFrame
# YOUR CODE HERE

Total Payments    object
Profit Margin     object
dtype: object

## Step 5: Use the `str.replace` function to replace all the dollar signs in the Total Payments column. Then review the first five rows of the DataFrame to confirm the update.

In [5]:
# For all the rows in the "Total Payments", use the str.replace function 
# to replace the "$" with empty strings ("")
money_flows_df.loc[:, "Total Payments"] = # YOUR CODE HERE

# Call the head function to review the first 5 rows of the DataFrame
# YOUR CODE HERE

           Total Payments Profit Margin
Date
2021-01-01      100008.16           NaN
2021-01-02      100017.49          4.8%
2021-01-03      100018.77         10.2%
2021-01-05      100035.19          9.9%
2021-01-05      100035.19          9.9%

## Step 6: Use the `astype` function to change the data type of the Total Payments column from `object (string)` to `float`. Then call the `dtypes` function on the DataFrame to confirm the update.

In [6]:
# For all the rows in "Total Payments", use the astype function 
# to change the data type from Object (string) to float
money_flows_df.loc[:, "Total Payments"] = # YOUR CODE HERE

# Call the dtypes function on the `money_flows_df` DataFrame to confirm the update
# YOUR CODE HERE

Total Payments    float64
Profit Margin      object
dtype: object

## Step 7: For the Profit Margin column, remove all the dollar signs and convert the data types to `float` by repeating the preceding steps. Call the `dtypes` function on the DataFrame to confirm the update.

In [7]:
# For all rows in the "Profit Margin", use the str.replace function 
# to replace the "%" with empty strings ("")
money_flows_df.loc[:, "Profit Margin"] = # YOUR CODE HERE

# For all rows in "Profit Margin", use the Pandas astype function 
# to change the data type from Object (string) to float
money_flows_df.loc[:, "Profit Margin"] = # YOUR CODE HERE

# Call the dtypes function on the `money_flows_df` DataFrame to confirm the update
# YOUR CODE HERE

Total Payments    float64
Profit Margin     float64
dtype: object

## Step 8:  Use the `isnull` function along with the `sum` function to determine the number of missing values in the DataFrame.

In [8]:
# Use the isnull function in conjunction with the sum function to determine 
# the total number of missing values in the DataFrame
# YOUR CODE HERE

Total Payments     0
Profit Margin     11
dtype: int64

## Step 9: Use the `fillna` function to fill any missing values in just the Profit Margin column with the value of 0. Then rerun the `isnull().sum()` function to confirm that you handled missing values.

In [9]:
# Using the fillna function, replace all of the missing values 
# in the "Profit Margin" column with a 0
money_flows_df.loc[:, "Profit Margin"] = # YOUR CODE HERE

# Rerun the isnull function in conjunction with the sum function to confirm there are no missing values
# YOUR CODE HERE

Total Payments    0
Profit Margin     0
dtype: int64

## Step 10:  Use the Pandas `duplicated` function along with the `sum` function to determine the number of duplicated entries in the DataFrame.

In [10]:
# Use the duplicated function in conjunction with the sum function, 
# to confirm the number of dupliate values in the DataFrame
# YOUR CODE HERE

8

## Step 11: Use the Pandas `drop_duplicates` function to remove all duplicated entries. Review the first 10 rows of the DataFrame to confirm the update.

In [11]:
# Using the drop_duplicates function, remove all the duplicate rows of data 
# from the DataFrame
money_flows_df = # YOUR CODE HERE

# Call the head function to review the first 10 rows of the DataFrame
# YOUR CODE HERE

            Total Payments  Profit Margin
Date
2021-01-01       100008.16            0.0
2021-01-02       100017.49            4.8
2021-01-03       100018.77           10.2
2021-01-05       100035.19            9.9
2021-01-06       100048.46            9.8
2021-01-07       100048.35            6.3
2021-01-08       100033.09            8.5
2021-01-09       100008.56            5.1
2021-01-10        99988.86            4.4
2021-01-11        99983.78            9.2